@import "tailwindcss";

@theme {
    --font-display: 'Montserrat', sans-serif;
    
    --color-primary: #785BF8;
}

.primary-btn {
    @apply bg-purple-500 text-white hover:bg-purple-400 transition-all;
}

.container {
    @apply mt-5 bg-white border border-gray-300 p-6 rounded-2xl shadow;
}

.input-field {
    @apply p-3 outline-none border-2 border-gray-500 rounded-full;
}

.input-field-1 {
    @apply p-3 outline-none border-2 border-gray-500 rounded-md;
}

.error {
    @apply text-red-500 text-sm;
}

html {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}